<div class="details">
  <div class="details__title">To reproduct bug</div>
  <div class="details__descriptions">
    <div class="details__step"> 1 Set value in localstorage with keyName "access_token" </div>
    <div class="details__step">2 <button (click)="clearLocalStorage()"> to clear a localstorage  </button> </div>
    <div class="details__step">3 <button (click)="setValue()"> click this button to set token </button> </div>
    <div class="details__step">4 Now try to move to secure layout by adding url "/main" in url section like</div>
    <div class="details__step">5 http://localhost:4200/main</div>
    <div class="details__step">6 ckeck the console log i had added one log to watch the gurad</div>
</div>
</div>

This button is use for login
<button color="primary" (click)="login()">Login</button>

